body{
    background-color: #FFCF64;
    font-family: 'helvetica'; 
}

/* Startside med sprog*/
.velkommen{
    text-decoration: underline;
    margin: 10%;
}

.sprog{
    text-decoration: underline;
    margin: 
}


/*Login-side*/
.logologin{
    width: 100%;  
}
.headlinehistorietur{
    color: #AE7227; 
    margin-left: 25%;
    font-size: 550%; 
    margin-top: -8%; 
    
}

.loginside{
    margin-left: 38%;
    margin-top: 10%; 
    font-size: 420%; 
} 

 .labellogin{
    font-size: 400%;
}



/* Spilleside*/





/* Feedback*/  
