/* Startside med sprog*/





/*Login-side*/
body{
    background-color: #FFCF64;
    font-family: 'helvetica'; 
}

.headline{
    color: #AE7227; 
    margin-left: 8%;
    font-size: 550%; 
    margin-top: 20%; 
}

.loginside{
    margin-left: 22%;
    margin-top: 10%; 
    font-size: 400%; 
} 


/* Spilleside*/





/* Feedback*/  
