body{
    background-color: #FFCF64;
    font-family: 'helvetica'; 
}

/* Startside med sprog*/
.velkommen{
    text-decoration: underline;
    padding-left: 10%;
    text-size-adjust: 350%;
}

.sprog{
    text-decoration: underline;
    padding-left: 20%;
    padding-top: 30%;
    text-size-adjust: 250%;
}




/*Login-side*/
.logologin{
    width: 100%;  
}
.headline{
    color: #AE7227; 
    margin-left: 8%;
    font-size: 550%; 
    margin-top: 20%; 
}

.loginside{
    margin-left: 22%;
    margin-top: 10%; 
    font-size: 400%; 
} 


/* Spilleside*/





/* Feedback*/  
