
.logoquiz{
    position: absolute;
    width: 50%;
    margin: 0 23.5%;
}

.baggrundquiz{
    margin-bottom: 10%;
    width: 100%;
    
}

.kort{
    width: 100%;
    position: absolute;
    visibility: hidden;
}


.knap1{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 75.5%;
    margin-top: 10%;
    cursor: pointer;
    border-radius: 25px;
    font-size: 36px;
    visibility: hidden;
}

.knap2{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 62%;
    margin-top: 13.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}


 
.knap3{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 35.5%;
    margin-top: 32.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap4{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 19.5%;
    margin-top: 26.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}


.knap5{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 3%;
    margin-top: 18%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap6{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 31%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap7{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 23.5%;
    margin-top: 40.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap8{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 34%;
    margin-top: 45%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap9{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 47%;
    margin-top: 54.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap10{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 63%;
    margin-top: 52%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap11{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 88.5%;
    margin-top: 10.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

.knap12{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 90.5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 36px;
    visibility: hidden;
}

input {
    display: block;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    font-size: 44px;
}

.spørgsmål1{
    
}