.logo {
    margin-left: 30%;
    position: absolute;


}

.baggrund {
    height: 50%;
    width: 100%;

}



.farvekoder {
    width: 45%;
    margin-left: 27%;

}

.pil {
    margin-top: 20%;
    
}

.html {
    margin-top: 20%;
}

.css {
    margin-top: 20%;
}

.javascript {
    margin-top: 20%;
}
